body {
    padding: 20px;
    background: #5CD;
    word-break: break-all;
}

.hidden {visibility: hidden;}
.visible {visibility: visible;}

.hide {display: none;}
.block {display: block;}
.inline-block {display: inline-block;}
.inline {display: inline;}

.iconfont {
    font-size: 14px;
    width: 14px;
    color: #666;
}

.grey {
    color: grey;
}
.color-red {
    color:red;
}

.color-blue {
    color:blue;
}

.tree-box {
    height: 600px;
    overflow: auto;
}

.tree-wrap {
    display: inline-block;
    overflow: auto;
    width: 360px;
    height: 555px;
    padding: 5px;
    border: 1px solid #02B;
    vertical-align: bottom;
    background: #fff;
}

