body {
    padding: 20px;
    background: #5CD;
    word-break: break-all;
}

.tree-wrap {
    display: inline-block;
    width: 360px;
    height: 555px;
    padding: 5px;
    border: 1px solid #02B;
    vertical-align: bottom;
    background: #fff;
}

.tree-node-wrap {
    margin: 0 0 0 22px;
    line-height:1.42;
}


.iconfont {
    padding-right: 0;
    font-size: 14px;
    font-weight: bold;
    line-height:1.42;
    vertical-align: baseline;
    cursor: pointer;
}

.icon-expand:before {
    content: "\e61d";
}

.icon-shrink:before {
    content: "\e61e";
}

.icon-checked:before {
    content: "\e617";
}

.icon-unchecked:before {
    content: "\e616";
}
