body {
    padding: 20px;
    background: #5CD
}

.tree-wrap {
    display: inline-block;
    width: 360px;
    height: 555px;
    padding: 5px;
    border: 1px solid #02B;
    vertical-align: bottom;
    background: #fff;
}

.icon-expand:before {
    content: "\e61d";
}

.icon-shrink:before {
    content: "\e61e";
}
